@media (max-width: 1525px) {
  .community-grid {
    display: grid;
    grid-column: 100%;
    grid-row: 30%;
    margin-top: 2vh;
  }

  .banner img {
    width: 100%;
    max-height: 40vh;
    height: auto;
    overflow: hidden;
    object-fit: cover;
  }

  .scroll-text {
    position: absolute;
    justify-content: center;
    color: rgb(255, 255, 255);
    top: 25%;
    font-size: 2.5vw;
    text-shadow: rgb(0, 0, 0) 5px 0 14px;
  }

  .fortFisher img {
    float: right;
    padding-right: 2vw;
    padding-top: 2vh;
    width: auto;
    height: 80%;
  }

  .fortFisher,
  .kureBeach,
  .carolinaBeach {
    width: 100%;
    text-align: left;
    height: 40vh;
    margin-top: 4vh;
  }

  .fortFisher,
  .kureBeach,
  .carolinaBeach,
  h1 {
    padding: 2vh 0 0 2vh;
    font-size: 1.4em;
    float: left;
  }

  .fortFisher,
  .kureBeach,
  .carolinaBeach,
  p {
    text-align: justify;
    max-height: 80%;
    font-size: 1.2vh;
    margin-top: 6vh;
    padding-right: 2vw;
  }

  .fortFisher {
    color: white;
    background-color: rgb(75, 90, 138);
  }

  .image-container img {
    width: 40%;
    margin-right: 2vw;
    height: 30vh;
    overflow: hidden;
    float: right;
    padding-left: 2vw;
  }

  .kureBeach {
    background-color: rgb(248, 234, 207);
  }

  .carolinaBeach {
    color: white;
    background-color: rgb(75, 90, 138);
  }
}

/* Desktop */
@media (min-width: 1525px) {
  .community-grid {
    display: grid;
    grid-column: 100%;
    grid-row: 30%;
    margin-top: 2vh;
  }

  .banner img {
    width: 100%;
    max-height: 40vh;
    height: auto;
    overflow: hidden;
    object-fit: cover;
  }

  .scroll-text {
    position: absolute;
    justify-content: center;
    color: rgb(255, 255, 255);
    top: 25%;
    font-size: 2vw;
    text-shadow: rgb(0, 0, 0) 5px 0 14px;
  }

  .fortFisher,
  .kureBeach,
  .carolinaBeach {
    width: 80%;
    margin-top: 4vh;
    margin-left: 10%;
    height: 40vh;
  }

  .fortFisher,
  .kureBeach,
  .carolinaBeach,
  h1 {
    padding: 2vh 0 0 2vh;
    font-size: 1.4em;
    float: left;
  }

  .fortFisher,
  .kureBeach,
  .carolinaBeach,
  p {
    max-height: 80%;
    font-size: 1.6vh;
    margin-top: 6vh;
    padding-right: 2vw;
  }

  .image-container img {
    width: 40%;
    margin-right: 2vw;
    height: 30vh;
    overflow: hidden;
    float: right;
    padding-left: 2vw;
  }

  .fortFisher {
    color: white;
    background-color: rgb(75, 90, 138);
  }

  .kureBeach {
    background-color: rgb(248, 234, 207);
  }

  .carolinaBeach {
    color: white;
    background-color: rgb(75, 90, 138);
  }
}
